/*  CREATED: JAN 7 2025
AUTHOR: BDM JP */

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(201, 223, 237);
}

#header {
  padding-top: 30px;
}

#header logo {
  margin: 0px;
  padding: 0px;
}

#header_line {
  border-bottom: 1px solid #000080;
  margin: 5px 3px 10px 0px;
}

.slogan {
  margin-left: 5px;
  margin-bottom: 20px;
  color: #999999;
  font-size: 1.2em;
}

.slogan a {
  color: #999999;
}

.subheader {
	text-align: center;
	font-family: "Poppins", sans-serif;
}

.subheader h3{
	font-size: 18px;
}

h1,
h2, h3 {
  color: #000080;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

h3{
font-size: 24px;
	margin-bottom: 2rem;
}

p a:link,
p a:visited {
  color: #000080;
  text-decoration: none;
}
p a:hover,
p a:active {
  color: #c60;
}

.subtitle {
  font-size: 1.6em;
  color: #c00;
}

.bdm_info {
  color: #c00;
}

.bdm_et h2 {
  color: #000080;
  font-size: 2em;
}

.bdm_et p,
.bdm_et li {
  line-height: 1.8em;
  font-size: 1.2em;
}

.bdm_para p {
  line-height: 1.6em;
}

.bdm_banner {
  min-height: 260px;
  overflow: hidden;
  text-align: center;
}

form label {
  font-size: 1.2em;
  font-weight: 100;
}

.form_field {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #999999;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 95%;
  max-width: 450px;
}

.bdm_one {
  padding: 0px 20px;
}

.box_title {
  text-align: center;
  color: #333;
  margin-top: 5px;
  margin-bottom: 40px;
}

.box_title h2 {
  font-size: 1.3em;
}

.box_title p {
  text-align: left;
  line-height: 1.8em;
  font-size: 1.2em;
}

.bottom_text_box {
  text-align: center;
  color: #000080;
  margin-bottom: 20px;
}

/*
#live-view {
	position: fixed;
	left: 0;
	top: 90px;
	width: 100%;
	height: calc(100% - 90px);
}
*/
#live-view {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}
.space10 {
  margin-top: 10px;
}
.space20 {
  margin-top: 20px;
}
.space30 {
  margin-top: 30px;
}
.space40 {
  margin-top: 40px;
}

.btn-paging {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-margin {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row ul {
  padding-left: 30px;
}

.clear {
  clear: both;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

img {
  border: 1px solid #000;
}

.img_left_gallery {
  float: left;
  margin: 12px;
  padding: 8px;
  border: 1px solid #ccc;
}

.img_left {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
}

.img_right {
  float: right;
  margin: 0px 0px 15px 20px;
}

.bdm_box img {
  max-width: 99%;
}

.footer {
  margin-top: 20px;
  margin-bottom: 120px;
  border-top: 1px solid #dddddd;
  padding: 20px 0px;
  text-align: center;
  font-size: 1.1em;
}

/* Top Menu BEGIN */
.bdm_nav {
  margin-top: 15px;
  margin-bottom: 5px;
}
.bdm_nav > li {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 4px;
}

.bdm_nav > li > a {
  margin-left: 12px;
  margin-right: 0px;
  padding-top: 8px;
  font-size: 1.2em;
  color: #000080;
  border: 1px solid;
  border-radius: 8px;
}
.bdm_nav > li > a:hover,
.bdm_nav > li > a:focus {
  background-color: transparent;
  color: #c60;
  border-color: #c60;
}
.bdm_nav > .active > a,
.bdm_nav > .active > a:hover,
.bdm_nav > .active > a:focus {
  color: #c60;
  border-color: #c60;
}

@media (min-width: 1300px) {
  .container {
    width: 1280px;
  }
}

@media (min-width: 768px) {
  .logo {
    float: left;
  }
  .bdm_nav {
    float: right;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    font-weight: 600;
  }
  .box_title h2 {
    font-size: 1.2em;
  }
  .box_title p {
    font-size: 1.1em;
  }
}

@media (max-width: 680px) {
  #live-view {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  .bdm_banner {
    min-height: 320px;
  }
}
